*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    text-align: center;
    background-color: #eeeeee;
    padding: 24px;
    overflow: hidden;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

.main_nav {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

.main_nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    background-color: white;
    padding: 12px;
    margin: 8px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.main_nav a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.profile {
    width: 70%;
    margin-top: 40px;
}

header p,
footer p,
address span {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
}

main section {
    text-align: center;
}

main h3, 
footer h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
}

main h3 {
    margin-bottom: 64px;
}

main {
    margin: 72px 0px;
}

main img {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

main h4 {
    font-weight: 500;
    font-size: 24px;
}

main p{
    font-size: 18px;
    font-weight: 300;
    padding: 0px 16px;
}

main div {
    margin-bottom: 40px;
    padding: 8px;
}

footer {
    text-align: center;
    background-color: #fafafa;
    padding: 60px 24px 24px 40px;
    overflow: hidden;
}

footer h3 {
    margin-bottom: 40px;
}

address {
    font-style: normal;
}

address a {
    margin-left: 16px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    font-size: 18px;
}


.footer_nav p {
    display: inline-block;
}

.footer_nav a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 16px;
}

.back_to_top {
    float: right;
    text-transform: uppercase;
}

.bottom_student_nav {
    float: left;
}

footer hr {
    margin-top: 60px;
    border: #dddddd 1px solid;
}

.bottom_nav {
    visibility: hidden;
}

@media all and (min-width: 768px) {
    .main_nav ul li {
        background-color: transparent;
        display: inline-block;
        width: 20%;
        margin-right: 0;
        margin-left: 0;
    }

    .main_nav {
        margin-top: 24px;
    }

    .profile {
        float: right;
        width: 40%;
        margin: 0px 16px 0px 8px;
    }

    header p {
        text-align: left;
    }

    header {
        padding-bottom: 60px;
    }

    main div {
        display: inline-block;
        width: 45%;
    }

    main img {
        width: 100%;
    }

    .back_to_top {
        visibility: hidden;
    }

    .bottom_nav {
        visibility: visible;
        float: right;
    }

    .bottom_nav ul {
        padding-left: 0px;
        position: absolute;
        right: 24px;
    }

    .bottom_nav ul li {
        list-style-type: none;
        text-transform: uppercase;
        padding: 8px;
        display: inline-block;
    }
}

@media all and (min-width: 1024px) {
    header .main_nav .main_nav_list_item{
        width: auto;
        margin: 0px 12px;
        padding:0px;
    }

    header h1 {
        left: 0px;
        margin: 0px;
        top: 30%;
    }

    .nav_bar {
        height: 120px;
        position: relative;
    }

    .main_nav {
        margin: 0;
        right: 0px;
        top: 40%;
    }

    .main_nav,
    header h1 {
        display: inline-block;
        position: absolute;
        
    }

    header {
        padding: 24px 56px 56px 56px;
    }

    .main_nav_list {
        margin: 0px;
    }

    main div {
        display: inline-block;
        width: 30%;
    }

    footer p {
        width: 56%;
        margin-right: auto;
        margin-left: auto;
    }

    footer .bottom_student_nav {
        width: auto;
    }
}